@use "../../../../assets/styles/variables";

nav a {
  width: 6.5rem;
  display: flex;
  justify-content: center;
  padding-block: 10px;
  margin: 5px;
  background-color: variables.$color-primary;
  color: white;
  border: 2px solid variables.$color-border;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  &:hover {
    background-color: variables.$color-hover;
  }
}

nav {
  margin-right: 1rem;
}

img {
  width: 300px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav {
    margin: 0px;
  }  
}

@media (max-width: 500px) {

    img {
        width: 200px;
    }
  nav a {
   width: 5.2rem; 
  } 
}
