@use "assets/styles/bootstrap-custom";

.btn-primary,
.btn-success,
.btn-dark {
  color: #fff;
}

body {
  margin-inline: 8rem;
}

.container {
    margin-block: 2rem;
}

h2 {
  color: #d90429;
}

.popup h6 {
    padding-top: 20px;
}


@media (max-width: 768px) {
  body {
    margin-inline: 1rem;
  }
}
